<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<style>
    .container{
        /* display: block; */
        display: grid;
        grid-template-columns: 1fr 1fr;

        
    }

    .section{
        width: 80%;
        height: 400px;
        background: red;
    }
</style>

<body>
    <ul>
        <li><a class="anchor" navTo="one">目标选择</a></li>
        <li><a class="anchor" navTo="two">目标客户</a></li>
        <li><a class="anchor" navTo="three">广告形式</a></li>
        <li><a class="anchor" navTo="four">广告投放</a></li>
        <li><a class="anchor" navTo="five">预算和时间安排</a></li>
        <li><a class="anchor" navTo="six">转化追踪</a></li>
    </ul>

  <script>
    var $navs = $('nav a'), // 导航
      $sections = $('.section'), // 模块
      $window = $(window),
      navLength = $navs.length - 1;

    $window.on('scroll', function () {
      var scrollTop = $window.scrollTop(),
        len = navLength;

      for (; len > -1; len--) {
        var that = $sections.eq(len);
        if (scrollTop >= that.offset().top) {
          $navs.removeClass('current').eq(len).addClass('current');
          break;
        }
      }
    });

  </script>
</body>

</html>
